

.up-down-animation {
  animation: upDown 2s linear infinite;
}

@keyframes upDown {

  0%,
  100% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-10px);
  }
}
body{
 
}

.centered-container {
  background: linear-gradient(to right , #949494 , rgb(203, 94, 94));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
}

.content {
  text-align: center;
}